# Virtual environments

.venv

#File setting
pyproject.toml
uv.lock
.python-version


# Environment variables
.env
.env.development
.env.staging
.env.production
# .env.example
aws/
faiss_index/

# hide _pycache_, __init__.py
__pycache__/
# __init__.py

test_func/
logs/
.
app.log
scripts/
src