# Virtual environments

.venv

# File setting
uv.lock
.python-version


# Environment variables
.env
.env.development
.env.staging
.env.production
# .env.example
aws/
faiss_index/

# hide _pycache_, __init__.py
__pycache__/
*.egg-info/
.pytest_cache/
chat_sessions.db
# __init__.py

test_func/
logs/
app.log
scripts/
src
